doctype
html.no-js
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		title Свадебный салон - HappyLife
		meta(name='description', content='Коллекция свадебных платьев')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(rel='stylesheet', href='css/main.css')
	body
		nav
			ul
				li 
					a(href="/") Главная
				li
					a(href="#about") О нас
				li
					a(href="#services") Услуги
				li
					a(href="#partners") Партнерам
				li
					a(href="#contacts") Контакты
		header
			hgroup
				h1 Happy Life
				h2 Салон свадебных платьев
		.container
			.about#about
				.text-block
					h3 О нас
					p.
						Наш магазин-склад «HappyLife» находится в г.Абинск по адресу ул. Красногвардейская 38 стр. 8 – если Вы предпочитаете делать закупки лично, будем очень рады помочь! Мы готовы предложить Вам не просто крепкие партнерские отношения, мы и готовы поделиться опытом, который обрели за 15 лет работы по продаже свадебных платьев в России и СНГ.
				.image-block
					img(src="img/1.jpg", alt="")

			.services#services
				.image-block
					img(src="img/2.jpg", alt="")
				.text-block
					h3 Оптовая продажа
					p.
						Конечно, наиболее богатый выбор наш салон может предложить среди свадебных платьев оптом в Москве – более 600 моделей в наличии и 1400 под заказ. Сейчас в моде простые и изысканные платья, которые подчеркивают нежность и женственность невесты. Следить за трендами – это не значит ограничивать себя одним стилем, тем более, при таком богатом выборе талантливых идей у дизайнеров

			.partners#partners
				.text-block
					h3 Партнерам
					p.
						Наша компания приглашает к сотрудничеству свадебные салоны,которым нужны качественные и востребованные свадебные наряды. Гарантируем ,что наши наряды не оставят равнодушным ни одного Вашого клиента.Мы являемся производителем свадебных платьев,значит работаем с вами на прямую, без посредников.Мы ценим своих клиентов и партнеров.Дорожим своей репутацией.С нами работать легко и удобно.
				.image-block
					img(src="img/3.jpg", alt="")

		footer#contacts
			ul
				li E-mail: 
					a(href="mailto:happy-life@mail.ru") happy-life@mail.ru
				li Тел.: 
					a(href="tel+70000000000") 8 (918) 348 70 26 Кристина
				li
					a(href="http://qurusan.cf") Создание сайта

			p &copy; 2014 HappyLife - Коллекция свадебных платьев
